[Desktop Entry]
Encoding=UTF-8
Name=Link to https://frosty-goldwasser-a6933e.netlify.com
Type=Link
URL=https://frosty-goldwasser-a6933e.netlify.com/
Icon=text-html
